Source: bash-wakatime
Build-Depends: debhelper (>= 7.0.50~)
Section: web
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Vitexus/bash-wakatime

Package: bash-wakatime
Depends: ${misc:Depends},bash
Architecture: all
Section: office
Priority: optional
Description: Automatic time tracking for commands in BASH using wakatime.
 
